#kostkamini{

    margin-left: 30px;
    font-size: 150px; 
    text-align: center;
}

#mainNavbar{
    
    background-image: url("../img/wood.jpg");

}
#nadpis{
margin-left:450px;
margin-top: 50px;
font-size: 100px;
font-family: 'Dancing Script', cursive;
color: white;

}
main{
    background-image: url(../img/woodback.jpg);
    margin-right: -15px!important;
}

#kostky{
    margin-left: 270px;
    color: white;
}



 
  
  .column {
    float: left;
    margin-top: 30px;
    margin-left: 120px;
    padding: 10px;
    height: 300px; 
    margin-bottom: 60px;
  }
#button{
    color: white;
    padding: 20px;
    margin-left: 300px;
    margin-top: 80px;
    border-radius: 20px;
    border: 10px solid  rgb(134, 72, 36) ;
    background-image: url(../img/wood.jpg);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    transition-duration: 0.4s;
}


  #button:hover {
    border: rgb(163, 102, 74); 
   
  }
  footer{
    padding: 20px;
    background-image: url(../img/wood.jpg);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-top: 200px;
  }
  #vysledek{
    font-family: 'Dancing Script', cursive;
  }
  #cube{
      margin-left: 3px;
  }
  .hraj{
      margin-top: 20px;
      background-image: url(../img/wood.jpg);
      color: white;
      font-family: 'Dancing Script', cursive;
      margin-bottom: 30px !important;
      border: 5px solid white;
      padding: 10px;
      padding-left: 45px;
      padding-right: 45px;
  }
  
  body{
      background-image: url(/img/woodback.jpg) !important;
  }
#novahra{
  margin-left: 500px;
  padding: 10px;
  background-image: url(../img/wood.jpg);
  border: solid 3px white;
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 20px;
}
 